.header-menu {
    //max-width: 680px;
}

.header-menu__list {
    display: flex;
}

.header-menu__item {
    margin-right: 60px;

    &:last-child {
        margin-right: 0;
        }
}

.header-menu__link {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

    &:hover {
        color: #000;
    }
}
