.scroll {
    display: flex;
    justify-content: center;
}

.scroll__link {
    display: flex;
    margin-right: 20px;
    opacity: 0.4;

    &:hover {
        opacity: 1;
    }
}

.scroll__icon {
    width: 20px;
    height: 30px;
}

.scroll-class {
    fill: #fff;
}