.about {
    height: 100vh;
    background: url"~/about_background.png";
}

.about__wrap {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.about__column-1 {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 100px;
}

.about__column-2 {
    width: 40%;
}

.data__item {
    opacity: 0.15;
    padding: 10px;
}
