.user-skills {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 65%;
}


.skill__shape {
    width: 134px;
    height: 134px;
    fill: transparent;
    //stroke: linear-gradient(to right, #d0731b 0%, #dc9322 100%);
    stroke: red;
    //fill-opacity: 0.5;
    stroke-width: 4px;
    
}

.skills-row__item {
    position: relative;
}

.skill__title {
    position: absolute;
    top: 40%;
    left: 30%;
    
}

.skills-row__list {
    display: flex;
}