.slider {
    position: relative;
    display: flex;
    align-items: flex-end;

    &::after {
        content: url(~images/content/2.png);
        position: absolute;
        left: 90%;
        top: 5%;
        
    }
}

.slider__fillpic {
    height: 352px;
    width: 1100px;
    z-index: 1;
}