.tags {
    display: flex;
    margin-bottom: 48px;
}

.tags__item {
    //height: 45px;
    border-radius: 23px;
    background-color: #f3f5f9;
    padding: 12px 21px;
    color: #2f3642;
    font-size: 15px;
    font-weight: 400;
    margin-right: 10px;

    &:last-child {
        margin-right: 0;
    }
}